<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedRecipe?.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedRecipe?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success">To Shopping List</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedRecipe?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>

<form (ngSubmit)="addRecipe(f)" #f=ngForm>
    <div class="form-group">
        <label> Recipe Name</label>
        <input type="text" #name=ngModel ngModel name="recipeName" required minlength="3" class="form-control" placeholder="suavemente"> 
        <font color="cyan">
        <div *ngIf="name.invalid && !name.pristine">
            <div *ngIf=name.errors.required>
                Name is requried!
            </div>
            <div *ngIf=name.errors.minlength>
                Name must be at least 3 characters!
            </div>
        </div>
        </font>
    </div>
    <div class="form-group">
        <label> email </label>
        <input type="text" #email=ngModel ngModel name="email" required email class="form-control" placeholder="...@mail.com"> 
        <font color="red">
        <div *ngIf="email.invalid && !email.pristine">
            <div *ngIf=email.errors.required>
                Email is requried!
            </div>
            <div *ngIf=email.errors.email>
                Email is incorrect format!
            </div>
        </div>
        </font>
    </div>
    <div class="form-group">
        <label> Price </label>
        <input type="text" #price=ngModel ngModel name="price" required class="form-control" placeholder="$."> 
        <div *ngIf="!price.valid && !price.pristine">
            Price is requried!
        </div>
    </div>
    <div class="form-group">
        <label> ingredient list </label>
        <input type="text" #il=ngModel ngModel class="form-control" name="il" required placeholder="comma seperated please"> 
        <div *ngIf="!il.valid && !il.pristine">
            Ingredients are requried!
        </div>
        <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Submit</button>
    </div>
</form>
<button (click)="loadRecipe()"> Load Recipes from DB </button>
<ul>
    <li *ngFor="let ud of loadedPost">
        {{ud.name}} <br>
        {{ud.email}} <br>
        {{ud.price}} <br>
        {{ud.il}} <br>
    </li>
</ul>
